.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + '-' + year;
    p Copyright Ⓒ #{year} #[a(href="https://beian.miit.gov.cn/", target="_blank") 陇ICP备20001210号]  